<template>
    <div>
        <div class="display-2">Vue App</div>
        <time-component/>
        <div>
            <i class="fab fa-adobe"></i>
            <i class="fas fa-lock"></i>
        </div>
        <div>
            <div class="btn-group btn-group-sm">
                <router-link :to="{name: 'another-page'}" class="btn btn-light">Another page</router-link>
                <router-link :to="{name: 'mobx-test'}" class="btn btn-light">Mobx test</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import TimeComponent from './TimeComponent.vue'

    @Component({
        components: {TimeComponent},
    })
    export default class StartPage extends Vue {
    }
</script>
