<template>
    <div>
        Time now: <span class="text-info">{{time}}</span>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from 'vue-property-decorator'

    @Component
    export default class TimeComponent extends Vue {
        time: string = ''

        mounted() {
            setInterval(() => {
                this.time = (new Date).toLocaleTimeString()
            })
        }
    }
</script>
