<template>
    <div>
        <div class="form-group">
            <input type="text" v-model="model.text" class="form-control">
        </div>
        <b>Changes: {{model.changes}}</b>
        <div>{{model.history.map(h => h.text)}}</div>
    </div>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator'
    import {Observer} from 'mobx-vue'
    import TestModel from '../../models/TestModel'

    @Observer
    @Component
    export default class MobxTest extends Vue {
        model = TestModel
    }
</script>
