@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
@import "~bootstrap/scss/bootstrap";
@import "icons";

.v-enter-active, .v-leave-active {
  @include transition($transition-fade)
}

.v-enter, .v-leave-to {
  opacity: 0;
}
