<template>
    <div class="container text-center">
        <img src="../../img/vue-logo.png" alt="logo" @click="$router.push({name: 'start'})" class="logo">
        <transition mode="out-in">
            <router-view/>
        </transition>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from 'vue-property-decorator'

    @Component
    export default class VueApp extends Vue {
    }
</script>

<style lang="scss">
    @import "../../css/app";
</style>

<style lang="scss" scoped>
    .logo {
        cursor: pointer;
    }
</style>
